.Task{
background-color: blue;




}
 
ul{
list-style-type: none;
}


body{
    background: url("../image/water-3730975__340.jpg") fixed center ;
background-color: burlywood;
background-size: cover;
}